{% extends 'layout/base.html.twig' %}

{% block title %}Main Page{% endblock %}
{% block h1 %}Tree{% endblock %}

{% block body %}

<div id="accordion">
    {% include "tree/ajax.html.twig" %}
</div>
<br>

{% endblock %}